{% extends 'base.html' %}

{% load static %}

{% block title %}
    Question 3
{% endblock %}


{% block question_head %}
Question 3: Delete Record
{% endblock %}

{% block question_detail %}
    Click <i class='fa fa-trash text-danger'></i> button to remove the corresponding record from the table.
    {% if not emp_list %}<br><button class='btn btn-primary' onclick='reset_employee_data()'>Reset Data</button>{% endif %}
{% endblock %}


{% block body_content %}
<div class='card'>
    <table class="table table-hover table-fixed text-center mb-0">
        <thead class='thead-sticky'>
            <tr class='fw-bold'>
                <th width='20%'>First</th>
                <th width='20%'>Last</th>
                <th width='60%'>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for emp in emp_list %}
            <tr>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td><button class='fa fa-trash text-danger' onclick='delete_curr_row("{{emp.id}}", "{{emp.first_name}}", "{{emp.last_name}}")'></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "questions/includes/bottom_pagination.html" with question=3 is_last=False %}

{% endblock %}

{% block js_block %}
    <script type="text/javascript" src="{% static 'questions/question3_nochange.js' %}?v=1.0"></script>
    <script type="text/javascript" src="{% static 'questions/question3.js' %}?v=1.0"></script>
{% endblock %}