{% extends 'base.html' %}

{% load static %}

{% block page_top_content %}
<div>
    <h4>Hello!!</h4>
</div>
{% endblock %}


{% block body_content %}
    <div class='card'>
        <table class="table table-hover table-fixed text-center">
            <thead class='thead-sticky'>
                <tr class='fw-bold'>
                    <th width='30%'>Question</th>
                    <th width='20%'>Difficulty</th>
                    <th width='50%'>Skill</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>Question 1</d>
                    <td>1</td>
                    <td>HTML</td>
                </tr>
                <tr>
                    <td>Question 1</d>
                    <td>1</td>
                    <td>HTML</td>
                </tr>
                <tr>
                    <td>Question 1</d>
                    <td>1</td>
                    <td>HTML</td>
                </tr>
                <tr>
                    <td>Question 1</d>
                    <td>1</td>
                    <td>HTML</td>
                </tr>
                <tr>
                    <td>Question 1</d>
                    <td>1</td>
                    <td>HTML</td>
                </tr>
                <tr>
                    <td>Question 1</d>
                    <td>1</td>
                    <td>HTML</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
