{% extends 'base.html' %}

{% load static %}

{% block title %}
    Question 2
{% endblock %}


{% block question_head %}
Question 2: Input value Check
{% endblock %}

{% block question_detail %}
    Create a Js function to validate the user's input. The function should:<br>
    Display <span class='px-2 bg-white text-success'>PASS</span> when the input value is within the specified range.<br>
    Display <span class='px-2 bg-white text-danger'>FAIL</span> when the input value is outside the specified range.<br>
    Display <span class='px-2 bg-white text-secondary'>Pending</span> when the input field is empty.<br>
    (Extra credit: Validate user input)<br>
    You may use either Js or jQuery
{% endblock %}


{% block body_content %}
<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-4'>
        <div class='input-group'>
            <input class='form-control text-center' id='min_value' value='1.51' readonly>
            <div class='input-group-text'><=</div>
            <input class='form-control' id='input_value' placeholder='User input here'>
            <div class='input-group-text'><=</div>
            <input class='form-control text-center' id='max_value' value='2.51' readonly>
        </div>
    </div>
    <div class='col-md-2'>
        <div class='input-group'>
            <div class='input-group-text'>Result:</div>
            <input class='form-control text-center bg-white text-secondary fw-medium' id='input_result' readonly value='Pending'>
        </div>
    </div>
</div>



<div class='row mt-5'>
    <div class='mt-3'>
        <h4 class='text-success px-3'>The final result should look like this. </h4>
    </div>
    <video controls><source src='{% static "img/question2.mp4" %}' type='video/mp4'></video>
</div>

<div class='row mt-5'>
    <div class='col-md-1'><a class='btn btn-sm btn-outline-info' href='{% url "questions:question1" %}'>Prev</a></div>
    <div class='col-md-4'></div>
    <div class='col-md-2 text-center'><a class='btn btn-sm btn-outline-info' href='{% url "questions:questions" %}'>Question List</a></div>
    <div class='col-md-4'></div>
    <div class='col-md-1 text-end'><a class='btn btn-sm btn-outline-info' href='{% url "questions:question3" %}'>Next</a></div>
</div>
{% endblock %}

{% block js_block %}
    <script>
        $("#input_value").keyup(function(){
            let my_val = $(this).val().trim()
            check_input_val(my_val)
        })

        $("#input_value").change(function(){
            let my_val = $(this).val().trim()
            check_input_val(my_val)
        })

        function check_input_val(input_val){
            Swal.fire({
                title:`You inputed ${input_val}.`,
                html: 'Hint: Find this function, remove the current prompt, and replace it with your own checking function.'
            }) 
        }
    </script>
{% endblock %}